.Plot{
    background-color: #1d262b;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.Plot > p{
    color: #ccc;
    margin: auto;
    padding-top: 10px;
    font-size: 30px;
}

.ScatterPlotContainer {
    height: 500px;
}