.SeriesOverviewContainer {
    padding: 2vh 0;
    display: flex;
    width: 100%;
    flex: 1;
    color: #1d262b;
    justify-content: center;
    box-sizing: border-box;
    min-height: 0
}

.Poster {
    display: inline-block;
    height: 100%;
    border-radius: 2vh;
    border: 0.2vh solid;
}

.SeriesOverview {
    width: 30vw;
    margin-left: 1vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.Title > * {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 1vh;
}

.TranslatedName{
    color: #888;
}

.Summary {
    display: flex;
    align-content: center;
    width: 100%;
    overflow: auto;
    flex: 1;
    align-items: center;
}

.Runtime {
    margin-top: auto;
    margin-left: 0.5vw;
    font-size: 2vh;
    color: #888;
}

.Rating {
    margin-top: 3vh;
}